@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x:hidden;
}

body {
    background-image: url(./images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(30px);
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.headerContainer {
    position: absolute;
    top: 0%;
    margin: 30px;
    width: 100%;
    height: 210px;
    padding: 5%;
    font-size: 5vw;
}

.headerRedes {
    display: flex;
    position: absolute;
    right: 20%;
    top: 0px;
}

.headerRedes * {
    width: calc(35px + 2vw);
    margin: 0 10px 0 10px;
}

#headerRedesLi:hover {
    box-shadow: 0 0px 20px rgb(25, 135, 179);
    border-radius: 15%;
    transition: all 0.2s ease;
}

#headerRedesGh:hover {
    box-shadow: 0 0px 20px rgb(82, 75, 180);
    border-radius: 50%;
    transition: all 0.2s ease;
}

#headerRedesTw:hover {
    box-shadow: 0 0px 20px rgb(0, 195, 255);
    border-radius: 10%;
    transition: all 0.2s ease;
}

.textHeader {
    position: absolute;
    background-color:#ffffff60;
    box-shadow:  10px 10px 0px #77777750;
    width: 70%;
    height: 16%;
    left: 10%;
    transform: translateY(3vh);
    border-radius: 10vh;
    z-index: 0;
}
.imagePerfil {
    position: absolute;
    left: 0%;
    top: 0%;
    float: left;
    width: 21vw;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #77777760;
    z-index: 1;
}

.imagePerfil:hover {
    width: 22%;
    height: auto;
    left: -1%;
    top: -1.25vh;
    border-radius: 50%;
}

.headerContainer h1 {
    position: absolute;
    font-weight:bold;
    font-size: 0.6em;
    color: rgb(0, 0, 0);
    left: 20%;
    line-height: 0.5vh;
    text-align: center;
}

.headerContainer p {
    position: absolute;
    background-color: #ffffff60;
    border-radius: 5vh;
    font-size: 1rem;
    padding: 10px;
    margin: 60px;
    margin-left: 20%;
    top: 35%;
    right: 10%;
}

.contentContainer {
    display: flex;
    position: absolute;
    top: calc(230px + 18vw);
    margin: 0 30px 30px 30px;
    height: auto;
    
}

.aboutMe {
    background-color: #ffffff60;
    box-shadow:  10px 10px 0px #77777750;
    border-radius: 30px;
    font-size: 16px;
}

.aboutMe h1 {
    text-align: left;
    font-size: 1.5em;
    padding: 30px 0 0 30px;
    color: rgb(0, 0, 0);
}

.aboutMe p {
    text-align: justify;
    font-size: 1em;
    padding:  10px 4vw 40px 4vw;
    color: rgb(0, 0, 0);
}

.contentContainer h3 {
    position: absolute;
    background-color: #ffffff60;
    border-radius: 10vh;
    width: 100%;
    text-align: right;
    right: 10px;
    bottom: -130px;
    padding: 30px;
}